@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
  background-color: var(--base-dark);
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;

  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 13px -7px #000000, 1px 19px 19px 5px rgba(0, 0, 0, 0);

  .app-title {
    padding: 12px;
    margin-right: 28px;
    padding-bottom: 6px;
    color: var(--theme-yellow);
    font-family: 'Calligraffitti', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    border-radius: 8px;
    background-color: #0653645c;
    width: min-content;
  }
}
