.navmenu {
  position: relative;
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 100%;
    color: var(--theme-yellow);
    transition: background-color 0.2s ease;

    &:active {
      background-color: #0653645c;
    }
  }

  .option-container {
    position: absolute;
    left: -12px;
    top: 50px;
    border-radius: 2px;
    min-height: 100px;
    width: 100vw;
    background-color: var(--theme-yellow);
    box-shadow: 1px 19px 19px 5px rgba(0, 0, 0, 0.45);

    .option {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      margin: 12px;
      width: 90;
      text-wrap: nowrap;
      padding: 6px 8px;
      padding-left: 10px;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--base-dark);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      &:hover {
        color: black;
        background-color: rgba(128, 128, 128, 0.262);
      }

      &:active {
        color: black;
        background-color: var(--base-dark);
        color: white;
        cursor: pointer;
      }
    }
  }
}
